table, td,tr {
    border: 1px solid #132C36;
    padding: 45px;
    background-color:  #284551;
}
.cell {
    width: 75px;
    height: 75px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.cell img {
    width: 45px;
    height: 45px;
    display: block;
    margin: auto;
}

.cell:hover {
    background-color: #3a5a6e;
}